//import {curLang, titlePage} from ../includes/variables.pug

html(class="__js" lang="" + curLang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

    title #{titlePage}

    link(rel="stylesheet" type="text/css" href="css/main.min.css")