nav.navigation
    ul.navigation__list 
        li.navigation__item 
            a.navigation__link(href="#")
                | Главная
        li.navigation__item 
            a.navigation__link(href="#")
                | Фото и видео
        li.navigation__item 
            a.navigation__link(href="#")
                | html academy 
        li.navigation__item 
            a.navigation__link(href="#")
                | Форма отзыва
        li.navigation__item 
            a.navigation__link(href="#")
                svg(width="102" height="84")
                    use(xlink:href="img/sprites/sprite-multi.svg#logo")