section.start-screen 
    svg.start-screen__welcome(width="115" height="28")
        use(xlink:href="img/sprites/sprite-multi.svg#welcome")
    svg.start-screen__subWelcome(width="107" height="18")
        use(xlink:href="img/sprites/sprite-multi.svg#subWelcome")
    h1.start-screen__title
        | sedona 
    svg.start-screen__slogan(width="173" height="46")
        use(xlink:href="img/sprites/sprite-mono.svg#mainSlogan")
    svg.start-screen__underBg(width="1200" height="57")
        use(xlink:href="img/sprites/sprite-mono.svg#underBg")